version: "3.9"

services:
  gateway:
    image: gitlab.doc.ic.ac.uk:4567/edtech/scientia-api:master
    environment:
      - ENVIRONMENT=production
      - MATERIALS_ENTRYPOINT=http://materials:5001
      - ABC_ENTRYPOINT=https://abc-api.doc.ic.ac.uk
      - AUTH_JWT_SECRET_KEY
      - API_ROLE_USERNAME
      - API_ROLE_PASSWORD
    deploy:
      mode: replicated
      replicas: 1
  emarking:
    image: gitlab.doc.ic.ac.uk:4567/edtech/emarking:rewrite
    environment:
      - ENV=production
      - SECRET_KEY
      - API_ROLE_USERNAME
      - API_ROLE_PASSWORD
      - DB_CONN_STR
      - DB_EDTECH_CONNECTION_STRING
      - STORAGE_ROOT=${EMARKING_STORAGE_ROOT}
    volumes:
      - /vol/emarking:/vol/emarking
    deploy:
      mode: replicated
      replicas: 1
  materials:
    image: gitlab.doc.ic.ac.uk:4567/edtech/materials:basic-auth
    environment:
      - ENV=production
      - SECRET_KEY
      - API_ROLE_USERNAME
      - API_ROLE_PASSWORD
      - DB_CONN_STR
      - DB_EDTECH_CONNECTION_STRING
      - STORAGE_ROOT=${MATERIALS_STORAGE_ROOT}
    volumes:
      - /vol/materials:/vol/materials
    deploy:
      mode: replicated
      replicas: 1
  frontend:
    image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}
    deploy:
      mode: replicated
      replicas: 1
  reverse_proxy:
    image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_NAME}-nginx
    ports:
      - "80:80"
      - "443:443"
    deploy:
      placement:
        constraints:
          - node.role == manager
    depends_on:
      - gateway
      - materials
      - frontend
